<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <!-- Google Fontsからのフォントの読み込み -->
   <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
   <title>ルーム募集掲示板</title>
</head>
<body>
   <div class="overlay"></div>
   <div class="content">
       <h1 class="font-change">ルーム募集掲示板</h1>

       <!-- ルーム募集投稿フォーム -->
       <form action="/add" method="POST">
        <div class="input-container">
          <label for="room_name">ルーム名</label>
          <input type="text" name="room_name" id="room_name" placeholder="ルーム名を入力" required>
          
          <label for="description">募集要項</label>
          <textarea name="description" id="description" placeholder="募集要項を入力" required></textarea>
        </div>
      
        <div class="button-container">
          <button type="submit">投稿</button>
        </div>
      </form>

       <h2 class="font-change">ルーム一覧</h2>
       <ul>
        {% for post in posts %}
        <li>
          <strong class="room-name">{{ post.room_name }}</strong> {{ post.description }}
          <form action="/delete/{{ post.id }}" method="POST" style="display:inline;">
            <button type="submit" class="font-change">削除</button>
          </form>
        </li>
        {% endfor %}
      </ul>

       <!-- `index.html` へ戻るリンク -->
       <a href="http://localhost:1234" class="font-change">通話画面に移動</a>
   </div>
</body>
</html>